.container {
    height: 35px;
    display: inline-flex;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
}

@media(max-width : 370px) {
    .container {
        width:80vw;
        height: 35px;
        display: inline-flex;
        align-items: center;
        background-color: #EEEEEE;
        border-radius: 15px;
    }
    .text {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        max-width:80vw;
        overflow-x: auto;
        scrollbar-width: thin;
    }
    
}