.container {
    /* background-color: brown; */
    /* padding: 5px 0; */
}

.popUp {
    position: sticky;
    top: 100px;
    z-index: 3;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 100px;
    z-Index: 2;
    background-color: white;
    padding: 10px 0;
}

.profile {
    display: flex;
    align-items: center
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px
}

.details {
    position: relative;
}

.btnPopUp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #FFC107;
    border-radius: 5px;
    height: fit-content;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px 6px
}

.btnText {
    color: #FFC107;
    font-size: 13px;
    margin-right: 5px;
}

@media (min-width:1601px){
    .postContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 50px;
        justify-content: center;
        margin: 0 50px;
        row-gap: 30px;
    }
}

@media (min-width:1281px) and (max-width:1600px) {
    .postContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        justify-content: center;
        margin: 0 20px;
        row-gap: 30px;
    }
}

@media (min-width:900px) and (max-width:1280px) {
    .postContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        justify-content: center;
        margin: 0 15px;
        row-gap: 20px;
    }
}

@media (min-width:500px) and (max-width:899px) {
    .postContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        justify-content: center;
        margin: 0 15px;
        row-gap: 20px;
    }

}

@media (min-width:200px) and (max-width:499px) {
    .postContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* column-gap: 20px; */
        justify-content: center;
        margin: 0 15px;
        row-gap: 20px;
    }
}

@media (min-width:480px) and (max-width:600px) {
    .name {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px
    }

    .btnPopUp {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #FFC107;
        border-radius: 5px;
        height: fit-content;
        margin-right: 20px;
        margin-top: 5px;
        padding: 5px 6px
    }

    .btnText {
        color: #FFC107;
        font-size: 12px;
        margin-right: 5px;
    }
}


@media (max-width:480px) {
    .btnPopUp {
        width: fit-content;
        border: 1px solid #FFC107;
        border-radius: 5px;
        height: fit-content;
        margin-left: 5vw;
        padding: 3px 3px;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px
    }

    .btnText {
        display: none;
    }
}

@media(max-width:767px) {
    .header {
        top: 50px;
    }
}