.profileContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profileName {
    margin-left: 10px;
    font-weight: bold;
}

.reviewMeta {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.reviewDate {
    font-size: 12px;
    margin-left: 5px;
}

.reviewText {
    font-size: 12px;
    margin-top: 10px;
}

.replyButton {
    border: 1px solid black;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 20px;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}
