.postContainer {
    width: 18vw;
    height: fit-content;
    position: relative;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

.profileInfo {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.userName {
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
}

.location {
    font-size: 13px;
    font-weight: bold;
    color: #FFC107;
    margin-left: 5px;
}

.eventInfo {
    margin-top: -8px;
}

.eventText {
    font-size: 13px;
    margin-left: 30px;
}

.seeMore {
    font-size: 13px;
    margin-left: 5px;
    border-bottom: 1px solid black;
}

.dateInfo {
    margin-top: -7px;
}

.dateText {
    font-size: 10px;
    margin-left: 30px;
    color: #84898F;
}