.postContainer {
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.profileImage {
    padding-right: 10px;
}
.profileInfo {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userName {
    font-weight: 600;
    font-size: 17px;
}

.location {
    font-size: 17px;
    /* font-weight: 600; */
    color: #FFC107;
}

.eventInfo {
    margin-top: 6px;
}

.eventText {
    font-size: 20px;
    font-weight: 400;

}

.seeMore {
    font-size: 13px;
    margin-left: 5px;
    border-bottom: 1px solid black;
}

.dateInfo {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.dateText {
    font-size: 15px;
    color: #84898F;
}

.packages {
    font-size: 15px;
    color: #FFC107;
    border: 1px solid #FFC107;
    padding: 2px 5px;
    border-radius: 10px;
}