.postContainer {
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.profileContainer {
    position: relative
}

.profileContainer:hover .nextIcon {
    opacity: 1;
    transform: translateX(0); /* Ending position */
}


.profileContainer:hover .prevIcon {
    opacity: 1;
    transform: translateX(0); /* Ending position */
}

.profileImage {
    padding-right: 10px;
}

.nextIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    opacity: 0;
    transform: translateX(10px); /* Starting position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animation properties */
}

.prevIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    opacity: 0;
    transform: translateX(-10px); /* Starting position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animation properties */
}

.profileInfo {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userName {
    font-weight: 600;
    font-size: 14px;
}

.location {
    font-size: 14px;
    color: #FFC107;
}

.eventInfo {
    margin-top: 6px;
}

/* .eventText {
    font-size: 15px;
    font-weight: 500;

}

.seeMore {
    font-size: 13px;
    margin-left: 5px;
    border-bottom: 1px solid black;
} */

.dateInfo {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateText {
    font-size: 12px;
    color: #84898F;
}

.packages {
    font-size: 12px;
    color: #FFC107;
    border: 1px solid #FFC107;
    padding: 1px 3px;
    border-radius: 10px;
}

@media (max-width:400px) {
    .userName {
        font-weight: 600;
        font-size: 13px;
    }

    .location {
        font-size: 13px;
        color: #FFC107;
    }
}