.container {
    width: 400px;
    height: 'fit-content';
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background-color: #F5F7F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 96px;
    right: 10px;
}

.cross {
    position: absolute;
    right: 10px;
}

.profileImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profileNameContainer {
    display: flex;
    justify-content: center;
}

.profileName {
    display: block;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
}

.sectionTitle {
    display: block;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.packageList {
    display: flex;
    flex-direction: column;
}

.contactList {
    display: flex;
    flex-direction: column;
}

.socialIconsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.reviewsContainer {
    display: flex;
    justify-content: center;
}

.reviewsText {
    color: #FFC107;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid black;
}


@media (max-width:480px) {
    .container {
        width: 90vw;
        height: 'fit-content';
        border-radius: 5px;
        background-color: #F5F7F8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin: 0 auto;
    }
}

@media (max-width:370px) {
    .contactList {
        align-items: center;
    }
}