/* EventSelection.module.css */
.formContainer {
    width: 400px;
    height: fit-content;
    border-radius: 3px;
    margin-left: 10px;
    padding: 20px 15px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.headerText {
    font-weight: bold;
    font-size: 16px;
    align-self: center;
}

.buttonGrid {
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width : 430px) {
    .formContainer {
        width: auto;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
}