@media (min-width:1281px) {
    .containerWidth {
        height: 20vw;
    }
}
@media (min-width:900px) and (max-width:1280px) {
    .containerWidth {
        height: 25vw;
    }
}

@media (min-width:500px) and (max-width:899px) {
    .containerWidth {
        height: 35vw;
    }
}

@media (min-width:200px) and (max-width:499px) {
    .containerWidth {
        height: 70vw;
    }
}