.container {
    width: 300px;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px 0;
    position: absolute;
    background-color: white;
    z-index: 4;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: none;
}

.closeIcon {
    margin-left: 90%;
    margin-top: 5;
}

.profileImageContainer {
    display: flex;
    justify-content: center;
}

.cameraIcon {
    position: absolute;
    top: 40px;
}

.sectionTitle {
    display: block;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.textLabels,
.imageLabels {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

@media(max-width:350px) {
    .container {
        left: 0;
        margin: auto;
    }
}