.container {
    width: 300px;
    max-height: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    position: relative;
    background-color: white;
}

.closeIcon {
    margin-left: 90%;
    margin-top: 5;
}

.profileImageContainer {
    display: flex;
    justify-content: center;
}

.cameraIcon {
    position: absolute;
    top: 40px;
}

.sectionTitle {
    display: block;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.textLabels, .imageLabels {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
