.navBarContainer {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #EEEDEB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100px;
}

.logo {
  margin-left: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: auto;
}

.userImage {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
}

/* .userImageContent {
  border-radius: 50%;
} */

.searchInput {
  border: 1px solid #EEEDEB;
  border-radius: 10px;
  width: 500px;
  height: 35px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 40px;
  outline: none;
}

.closeIcon {
  position: absolute;
  right: 10px;
}

.searchIcon {
  margin-left: 40px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.link {
  color: gray;
  font-size: 15px;
  text-decoration: none;
}

.activeLink {
  color: #FFC107;
  font-size: 15px;
  text-decoration: none;
}

.linkItem {
  margin-left: 30px;
}

.signInContainer {
  position: absolute;
  right: 20px;
}

.signInIcons {
  display: flex;
}

.editInfoContainer {
  margin-top: 10px;
}

/* Mobile NavBar */

.mobileNavBar {
  display: none;
  height: 50px;
  border-bottom: 1px solid #EEEDEB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.mobileNavBarHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileSearchIcon {
  margin-right: 15px;
}

.menuIcon {
  margin-right: 10px;
  margin-left: 15px;
}

.mobileNavLinks {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 5px 0;
  background-color: white;
}

.mobileLinkItem {
  padding: 5px 10px;
}

.mobileLinkItem:hover {
  background-color: #EEEEEE;
}

/*media query */

@media(max-width : 768px) {
  .navbar {
    display: none;
  }

  .mobileNavBar {
    display: block;
  }

  .searchContainer {
    width: auto;
    margin: 0;
    padding: 0 15px;
  }
  .searchInput {
    width: 100%;
    font-size: 13px;
  }
  
  .closeIcon {
    right: 25px;
  }
}